# ----------------------
# Python
# ----------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
.venv/
venv/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Logs
*.log

# ----------------------
# IDE Files
# ----------------------
.idea/
.vscode/

# ----------------------
# OS Files
# ----------------------
.DS_Store
Thumbs.db
